:root {
    --ada-blue: #336178;
    --ada-red: #ae485e;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("media/background3.jpg");
    flex-direction: column;
    min-height: 100vh; 
    font-family: "American Typewriter", serif;
}

.mainBodyTextImg2{
    width: 10px;
}

.codeacademy .link{
    color: white;
    text-decoration: none;
}

.codeacademy .link:hover{
    background-color: #336178;
}

.mainBody {
    flex: 1;
    position: relative; 
    padding: 20px; 
    color: #8baec0
}

.mainBodyText #iframeContainer{
    height: 2000px;
}

.mainBodyText{
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    color:white;
}

.button:hover{
    background-color: #003559;
}

.button:hover{
    background-color: #003559;
}

.mainBodyText .mainBodyTextImg1{
    height: 400px;
    width: 600px;
    padding: 20px;
    background-color: var(--ada-red);
    border: var(--ada-blue);
    border-style: solid;
    border-width: 10px;
    transform: translate(-15px, 0px);
}

.body p{
    margin: 40px;
}

#AliCodeacademy{
    transform: translate(15px, 0px);
    width: 25%;
}

#FazilCodeacademy{
    transform: translate(15px, 100px);
    width: 25%;
}

#DanizCodeacademy{
    transform: translate(15px, 300px);
    width: 25%;
}

#ToghrulCodeacademy{
    transform: translate(15px, 200px);
    width: 25%;
}

.mainBodyText .mainBodyTextImg2{
    height: 400px;
    width: 335px;
    padding: 20px;
    background-color: var(--ada-red);
    border: var(--ada-blue);
    border-style: solid;
    border-width: 10px;
    transform: translate(15px, 0px);
}

.mainBodyText .mainBodyTextImg3{
    height: 400px;
    width: 350px;
    padding: 20px;
    background-color: var(--ada-red);
    border: var(--ada-blue);
    border-style: solid;
    border-width: 10px;
    transform: translate(10px, 0px);
}

.mainBodyText .mainBodyTextImg4{
    height: 400px;
    width: 350px;
    padding: 20px;
    background-color: var(--ada-red);
    border: var(--ada-blue);
    border-style: solid;
    border-width: 10px;
    transform: translate(100px, 0px);
}

.codeArt{
    color: #8baec0;
    text-align: center;
}

.paragraphHour{
    margin-left: 70px;
    margin-right: 70px;
}

.body .mainBody{
    background-color: #ffffff; 
    color: #000000;
    font-family: 'Times New Roman';    
}

.header{
    margin: 0px;
    background-color: var(--ada-blue);
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    transform: translate(0px, 0px);
    width: 100%;
    z-index: 1000;

}

.aboutusTeamcodersTitle{
    color:#ffffff;
    transform: translate(0px, 0px);
}

.nav-bar{
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.nav-bar a:hover{
    color: #173b4f;
}

html{
    scroll-behavior: smooth;
}

.footer {
    background-color:var(--ada-blue);
    height: 130px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}

.tableContribution{
    color: black;
}
      
#aboutTeam div{
    display: none;
}

#aboutTeam div.active {
    display: block;
}

.footer .adaLogo {
    height: auto;
    width: 150px;
    transform: translate(-350px, 0px);
}

.footer .teamLogo {
    width: 160px;       
    height: 160px;
    clip-path: circle(36% at center);  
    object-fit: cover;
    transform: translate(-300px, 0px);
}

#teamHeader{
    color:#ffffff;
}

.center {
    text-align: center;
}

.bodyText{
    margin: 5px;
    padding: 5%;
    display: flex;
    background-color:#003559;
    color: #6799b2;
    height: 1000px;
}

.button{
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--ada-blue);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

.mainBody{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;              
    margin: 50px auto;          
    width: 75%;                 
    max-width: 1000px;          
    border-radius: 3px;       
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.nameTable {
    background-color: var(--ada-blue);  
    padding: 20px;            
    margin: 20px auto;          
    width: 60%;                 
    max-width: 1000px;          
    border-radius: 10px;       
}

.FazilProfile{
    width: 150px;
    height: 170px;
    transform: translate(983px, -71px);
    border: solid;
}

.AliProfile{
    width: 150px;
    height: 170px;
    transform: translate(983px, -71px);
    border: solid;
}

.ToghrulProfile{
    width: 150px;
    height: 170px;
    transform: translate(983px, -71px);
    border: solid;
}

.DanizProfile{
    width: 150px;
    height: 170px;
    transform: translate(983px, -71px);
    border: solid;
}

.nameTable li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}   

.fazilMainProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(5px, 0px);
}

.aliMainProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(0px, 0px);
}

.toghrulMainProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(20px, 0px);
}

.danizMainProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(20px, 0px);
}

.name-button {
    background-color: var(--ada-red);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.aboutUs {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: black;
    width: 80%;
    transform: translate(0px, 20px);
}

#fazil {
    text-align: start;
    margin: 20px auto;
    color: rgb(17, 47, 59);
    padding: 10px;
    width: 80%;
    background-color: #54829a;
    transform: translate(-100px,-150px);
    height: 150px;

}

#ali {
    text-align: start;
    margin: 20px auto;
    color: rgb(17, 47, 59);
    padding: 10px;
    width: 80%;
    background-color: #54829a;
    transform: translate(-100px,-150px);
    height: 150px;

}

#toghrul {
    text-align: start;
    margin: 20px auto;
    color: rgb(17, 47, 59);
    padding: 10px;
    width: 80%;
    background-color: #54829a;
    transform: translate(-100px,-150px);
    height: 150px;
}

#daniz {
    text-align: start;
    margin: 20px auto;
    color: rgb(17, 47, 59);
    padding: 10px;
    width: 80%;
    background-color: #54829a;
    transform: translate(-100px,-150px);
    height: 150px;
}


#fazil p{
   transform: translate(0px,-200px); 
}

#ali p{
   transform: translate(0px,-200px);
}

#toghrul p{
   transform: translate(0px,-200px);
}

#daniz p{
   transform: translate(0px,-200px);
}

.aboutTeamTitle {
text-align: center;
transform: translate(0px, 20px);
}

.youtube {
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.youtube-video iframe {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header2 {
    color: white;
}